

  // Scss Variable
$font: sans-serif;
$default-color:white;
$primary-color:rgb(245,246,248);
$footer-color:rgb(40,44,51);
$button-color:rgb(93,153,104);
$background-hover:rgb(40,44,51);
$paragraph-color:rgb(191,194,197);
//  a function that takes in paddings as arguments and returnd them
@function pad($pads...) {
  @return $pads;
}


// function to calculate column percentage
// total columns are 12
//$col-count global variable =12
$col-count: 12;
@function col-pct($columns) {
  //calculate the percentage and concantinate %
  @return unquote((100/$col-count)*$columns+"%");
}

@mixin button {
  color:$default-color;
  background-color:$button-color;
  border-radius: 50px;
  border:none;
}
@mixin button-hover{
  background-color:$background-hover;
}

body{
  background-color: $default-color;
  margin: 0px;
  padding: 0px;
  font-family:$font;
}

//navigation

header {
  //position: absolute;
  //top: 0;
  //right: 0;
  //left: 0;
  //width: 100%;
  //z-index: 1;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {

      margin-left: 40%;
      display: none;
    }
  }
  .show {
    display: block;
  }
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: pad(60px);
  margin-left: 340px;
  @media only screen and (min-width: 280px) and (max-width: 1400px) {
    margin-left: 30px;
    .logo{
      a{
        display:block;
      }
    }
    .ul {
      display: none;


    }
  }
  li {
    display: inline-block;
    list-style: none;
    color:rgb(191,194,197);

    i{
      margin-left: 132px;
      margin-right: 102px;
    }
    @media only screen and (min-width: 280px) and (max-width: 1200px) {
      display: none;
    }

  }


  a {
    color: $paragraph-color;
    text-decoration: none;
    margin-left: 46px;
    font-size: 20px;
    font-weight: bolder;
  }
}




main, #header {
  @media only screen and (min-width: 280px) and (max-width: 780px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }

  @media only screen and (min-width: 781px) and (max-width: 1400px) {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
  }
}

ul > li > i {
  font-size: 50px;
  font-weight: bolder;
}

#header {

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bg2.jpeg);
  background-size: cover;
  height: 87vh;
  width: 100%;

}
.design {

  font-family: Serif;
  p{
    margin-block-end: 0px;
    margin-top: 11%;
    margin-bottom: 4%;
    color: $default-color;
    font-size: 126px;
    font-weight: bold;
    word-break: break-word;
    @media only screen and (min-width: 581px) and (max-width: 780px) {

      margin-top: 15%;
      margin-bottom: 17%;
      font-size: 86px;
    }

    @media only screen and (min-width: 280px) and (max-width: 580px) {

      margin-top: 15%;
      margin-bottom: 7%;
      font-size: 66px;
    }
}
  span{
    color:rgb(93,152,104);
  }
  @media only screen and (min-width: 280px) and (max-width: 780px) {
    margin-left: 10px;
    font-size: 36px;
  }
}

.introduction {
  font-size: 20px;
  color: rgb(209, 212, 215);
  margin-top: 69px;
  font-weight: bolder;
  @media only screen and (min-width: 280px) and (max-width: 780px) {
    width: 100%;
  }
}
.container {
  margin-left: 15%;
  margin-right: 15%;

  @media only screen and (min-width: 781px) and (max-width: 999px) {
    margin-left: 5px;
    margin-right: 5px;
  }
  @media only screen and (min-width: 280px) and (max-width: 780px) {
    margin-left: 5px;
    margin-right: 5px;
  }
}
#hello {
  margin-top: 5%;
  font-size: 42px;
  margin-left: 30%;
  margin-right: 20%;
  margin-bottom: 87px;
  font-family: Serif;
  text-align: center;
  font-weight: lighter;
  @media only screen and (min-width: 280px) and (max-width: 780px) {
    margin-left: 20%;
    margin-right: 10%;
  }

  span {
    margin-left: 102px;
  }


}

.experience {
  display: grid;
  grid-template-columns:1fr 2fr;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {

    display: block;
    margin: 5%;
  }
  margin-bottom: 76px;

  #years {
    padding-left: pad(0px);
    margin-left: 0px;
    font-size: 62px;
    color: rgb(94,153,104);
    margin-top: 64px;
    font-weight: lighter;

  }

  span {
    margin-left: 80px;
    font-weight: bolder;
    font-size: 16px;
    color: rgb(113, 116, 122);
  }

  #experinceParagraph {
    font-size: 25px;
    line-height: 36px;
    color: rgb(84, 88, 93);
  }

  #solution {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #aboutUs {
    color: rgb(118,171,131);
    font-size: 18px;
    font-weight: lighter;
  }

}

#expertiseHeading {
  padding-top: 82px;
  color: rgb(167,168,177);
}

.expertise-wrapper {
  background-color: $primary-color;
}

#expertise {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    display: block;
    margin: 10px;
    padding: 5%;
  }
  margin-top: 67px;
  grid-gap: 62px;

  h2 {
    font-size: 30px;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      text-align: center;
      .icon{
        display: flex;
        justify-content: center;
      }
    }
  }

  #bsa {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/bsa.jpeg);
    background-size: cover;
    height: 360px;
    border-bottom: 30px solid green;
    color: $default-color;
    padding: pad(20px);
  }
  #paragraphBsa{
    color:#ffff;
  }

  .card {
    height: 435px;
    padding-bottom: pad(117px);
  }

  p {
    font-size: 25px;
    color: rgb(144,145,151);
  }

  hr {
    margin-top: 115px;
    border-bottom: 10px solid green;
  }

  .fa {
    font-size: 80px;
    height: 130px;
    align-content: center;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      margin-left: 40%;
    }
  }
}

#selectedWork {
  padding-bottom: 130px;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    padding-bottom: 20px;
  }
  #SelectedWorkTitle {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 95px;
    margin-bottom: 44px;
    color: $paragraph-color;
  }

  #card1 {
    background: linear-gradient(90deg, rgb(127, 75, 34), rgb(215, 106, 25));
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      margin-bottom: 18px;
    }

  }

  .selectedWorkName {
    margin: 38px;
  }

  #electiveAfrica {
    display: grid;
    grid-template-columns:1fr 1fr;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      grid-template-columns:1fr;
     margin-left: 7%;
      margin-right: 7%;
      grid-gap: 8px;
      #scroll{
        display: block;
        font-size:90px;
        margin-top: -20%;
        text-align: center;
        border-radius: 50%;
        color:$paragraph-color;
      }
    }
    grid-gap: 38px;
    height: 342px;
    margin-bottom: 35px;

  }

  #mmc {
    height: 342px;
    background:linear-gradient(90deg,rgb(114,116,121), rgb(191,191,193));
    background-size: cover;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {

      display:none;
    }
  }

  #cytonn {
    display: grid;
    grid-template-columns:1fr;
    height: 342px;
    background:linear-gradient(90deg,rgb(114,116,121), rgb(191,191,193));
    //background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/cytonn.jpeg);
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      grid-template-columns:1fr;
      margin-top: 30px;
      display:none;
    }
    .selectedWorkName {
      margin-bottom: 0px;
      color:white;

      font-weight: lighter;
    }

    .selectedWorkParagraph {
      font-size: 35px;
      margin-left: 38px;
      margin-top: -30px;
      color: white;
      font-family: sans-serif;
    }
  }

  .selectedWorkParagraph {
    font-size: 25px;
    margin-left: 38px;
    color: white;
  }
}

#blogWrapper {
  background-color: $primary-color;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    .container{
      margin: -3%;
    }
  }
  h2 {
    padding-top: 55px;
    padding-bottom: 35px;
  }

  #blog {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      grid-template-columns:1fr;
      overflow-x: auto;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1300px) {
      grid-template-columns:1fr  1fr;
      overflow-x: auto;
    }
    grid-gap: 38px;
    height: 342px;
    padding-bottom: pad(72px);
  }

  .card {
    background-color: $default-color;
    padding: 25px;
    padding-bottom: 0px;
  }

  .hide {
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      display: none;
    }
  }

  .blogHeader {
    font-size: 16px;
    margin-bottom: 51px;
    color:rgb(174,174,177);
    font-weight: lighter;
  }

  p {
    font-size: 28px;
    font-weight: bold;
    color:rgb(42,46,53);
  }

  #first {
    color: rgb(93,152,104);
  }

  .date {
    font-size: 14px;
    color: rgb(173,173,176);
  }

  .share {
    margin-left: 240px;
    margin-top: 25%;
    font-size: 16px;
    color: $paragraph-color;
  }
}

#customer-wrapper {
  display: grid;
  grid-template-columns:1fr 1fr;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    display:block;
    margin: 10%;
  }
  @media only screen and (min-width: 1000px) and (max-width: 1500px) {
    grid-template-columns:1fr 1fr;
    margin: 5%;
  }
  h1 {
    margin-top: 120px;
    margin-bottom: 44px;
    font-weight: bolder;
    font-size: 35px;
    margin-right: -60px;
    margin-left: 379px;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      margin-left: 39px;
      margin-right: 59px;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1500px) {
      margin-left: 10px;
    }
  }
  i {
    color: gainsboro;
    opacity: 0.2;
    font-size: 30px;
    margin-bottom: -50px;
  }

  #contentParagraph {
    margin-left: 379px;
    margin-right: 99px;
    font-size: 26px;
    line-height:34px;
    color: $paragraph-color;
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      margin-left: 39px;
      margin-right: 59px;
    }
    @media only screen and (min-width: 1000px) and (max-width: 1500px) {
      margin-left: 10px;
    }
  }
  #customerMessage {
    padding-top: pad(85px);
    background: rgb(92, 150, 103);
    padding-left: pad(152px);
    color: rgb(234, 243, 239);
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;

    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      padding-left: pad(42px);
    }

  }

  #dots {
    color: $paragraph-color;
    font-size: 60px;
    border-radius: 50% !important;
    margin-left: 40%;
  }

  #customerName {
    padding-top: 55px;
    color: white;
    font-weight: bold;
    font-size:14px;
  }
}


#contactUs {
  padding-bottom: 92px;
  padding-top: 92px;
  background-color: $primary-color;

}

#contactUsContent {
  display: grid;
  grid-template-columns:2fr 1fr;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    grid-template-columns:1fr;
  }

}

#ready {
  font-size: 30px;
}

.btnContactUs {
  @include button;
  color: green;
  width: 130px;
  background: transparent;
  height: 35px;
  margin-top: 40px;
  margin-left: 80%;
  font-size: 12px;
  border: 2px solid green;
  font-weight: bolder;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {

    margin-top: 20px;
    margin-left: 30%;
  }

  &:hover {
    @include button-hover;
  }
}

#footer {
  display: grid;
  grid-template-columns:1fr 1fr;
  @media only screen and (min-width: 280px) and (max-width: 1000px) {
    grid-template-columns:1fr;
    text-align: center;
  }
}


footer {
  background: $footer-color;
  padding-bottom: pad(1px);

  #updates {
    padding-top: pad(80px);
  }

  h3 {
    color: rgb(100, 103, 107);
    font-size: 26px;

  }

  p {
    line-height: 25px;
    color: rgb(177, 179, 180);
  }

  #copyright {
    padding-top: pad(31px);
    padding-bottom: pad(51px);
  }

  #icons {
    padding-top: pad(60px);
    padding-bottom: pad(15px);
    font-size: 20px;

    i {
      margin-left: 20px;
    }

    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      padding-top: pad(5px);
      padding-bottom: pad(5px);
    }

  }

  hr {
    color: $paragraph-color;
  }

  #email {
    padding-top: pad(120px);
    @media only screen and (min-width: 280px) and (max-width: 1000px) {
      padding-top: pad(15px);
    }
  }

  input {
    border: none;
    background: transparent;
    border-bottom: 2px solid gray;
    color: white;
    width: 100%;
  }
}

#signupBtn {
  @include button;
  padding-top: pad(10px);
  padding-bottom: pad(10px);
  padding-left: pad(30px);
  padding-right: pad(30px);
  font-weight: bolder;
  font-size: 18px;
  margin-top: 35px;
  line-height: 24px;

  &:hover {
    @include button-hover;
  }
}


a {
  text-decoration: none;
}




